@use '@/assets/styles/utils' as * ;

.PlayerBox{
  @include flex-column;
  gap:58px;
 
}
.Player_GK{
  position: absolute;
  top:28px;
  left: 160px;
}

.Player_DF,
.Player_MF,
.Player_FW{
  width: 100%;

}