@use './mixins';
@use './common.scss' as vars;

/// 设置 display 属性
/// @param {String} $v - display 的值（如 flex, block）
@mixin display($v) {
  @include mixins.text(display, $v);
}

/// 设置 flex 属性值
/// @param {String|Number} $v - flex 的值（如 1, auto）
@mixin flex($v) {
  @include mixins.text(flex, $v);
}

/// 设置 display: inline-flex
@mixin inline-flex {
  @include display(inline-flex);
}
/// 设置 flex 方向为列方向（column）
@mixin flex-direction($dir:column) {
  flex-direction:$dir;
}
/// 设置交叉轴对齐方式（align-items）
/// @param {String} $v - 对齐方式，如 center, stretch
@mixin items($v) {
  @include mixins.text(align-items, $v);
}
@mixin justify-items($v) {
  @include mixins.text(justify-items, $v);
}

/// 设置主轴对齐方式（justify-content）
/// @param {String} $v - 对齐方式，如 center, space-between
@mixin justify($v) {
  @include mixins.text(justify-content, $v);
}


/// 设置 flex 居中布局
@mixin flex-start-center {
  @include display(flex);
  @include justify(flex-start);
  @include items(center);
  // justify-content:flex-start;
  // align-items: center;
}
@mixin flex-start-end {
  @include display(flex);
  @include justify(flex-start);
  @include items(end);
}
@mixin flex-end-end {
  @include display(flex);
  @include justify(end);
  @include items(end);
}
@mixin flex-end-center {
  @include display(flex);
  @include justify(end);
  @include items(center);
}
/// 设置 flex 居中布局
@mixin flex-center {
  @include display(flex);
  // justify-content: center;
  // align-items: center;
  @include justify(center);
  @include items(center);
}

/// 设置 flex 两端对齐
@mixin flex-between {
  @include display(flex);
  // justify-content: space-between;
  // align-items: center;
  @include justify(space-between);
  @include items(center);
}

/// 设置 flex 平均分布对齐
@mixin flex-around {
  @include display(flex);
  // justify-content: space-around;
  // align-items: center;
  @include justify(space-around);
  @include items(center);
}

/// 设置纵向 flex 列布局
@mixin flex-column {
  @include display(flex);
  @include flex-direction;
}
///
 @mixin flex-column-start-center {
  @include display(flex);
  @include flex-direction;
  @include justify(start);
  @include items(center);
}
/// 设置纵向 flex 列布局局中
@mixin flex-column-center {
  @include display(flex);
  @include flex-direction;
  @include justify(center);
  @include items(center);
}
/// 设置纵向 flex 列布局左对齐
@mixin flex-column-left {
  @include display(flex);
  @include flex-direction;
  @include justify(center);
}

/// 设置 flex-wrap: wrap
@mixin flex-wrap {
  flex-wrap: wrap;
}

/// 设置 flex-wrap: nowrap
@mixin flex-nowrap {
  flex-wrap: nowrap;
}
/// 设置 flex-betwee-wrap: wrap
@mixin flex-between-wrap {
  @include display(flex);
  @include flex-wrap;
  @include justify(space-between);
}
// ----------------------- 通用 Grid 布局封装 -----------------------

/// 设置列数（grid-template-columns: repeat）
/// @param {Number} $count - 列数量
@mixin grid-cols($count) {
  @include display(grid);
  grid-template-columns: repeat($count, 1fr);
}

/// 设置行数（grid-template-rows: repeat）
/// @param {Number} $count - 行数量
@mixin grid-rows($count) {
  @include display(grid);
  grid-template-rows: repeat($count, 1fr);
}

/// 设置列数（grid-template-columns: 1fr 28px
/// @param {String} $v 1fr 28px
@mixin grid-template-cols($v) {
  @include display(grid);
  @include items(center);
  @include mixins.NoUnit(grid-template-columns, $v);
}

/// 设置 row-gap 间距
/// @param {Number|String} $v - 行间距数值
@mixin row-gap($v) {
  @include mixins.text(row-gap, $v, vars.$unit);
}

/// 设置 column-gap 间距
/// @param {Number|String} $v - 列间距数值
@mixin col-gap($v) {
  @include mixins.text(column-gap, $v, vars.$unit);
}

/// 设置整体 gap 间距
/// @param {Number|String} $v - 间距数值
@mixin gap($v) {
  @include mixins.text(gap, $v, vars.$unit);
}



/// 设置 place-items
/// @param {String} $v - 对齐方式（center, start, end）
@mixin place($v) {
  @include mixins.text(place-items, $v);
}
/// 设置 grid 居中布局
@mixin grid-center {
  @include display(grid);
  @include items(center);
  @include justify-items(center);
}
