// @use './mixins';

  
//   // 动态生成，使用已生成原子类
//   @include generate-size-classes('w-', width);
//   @include generate-size-classes('h-', height);
//   @include generate-size-classes('min-w-', min-width, 10, 100);
//   @include generate-size-classes('max-h-', max-height, 20, 300);
//   @include generate-size-classes('text-', font-size, 1, 40);
//   // 固定值类
//   .w-full  { width: 100%; }
//   .h-full  { height: 100%; }
//   .w-screen { width: 100vw; }
//   .h-screen { height: 100vh; }
  
///宽高控制（w/h/min/max/full）业务组件灵活控制样式时使用参数传值
// 通用尺寸 setter

@use './mixins' ;  // 
  // 快捷尺寸 mixins（建议保留语义化调用）
  @mixin w($v: 0)       { @include mixins.haveUnitPx(width, $v)}
  @mixin h($v: 0)       { @include mixins.haveUnitPx(height, $v); }
  @mixin min-w($v: 0)   { @include mixins.haveUnitPx(min-width, $v); }
  @mixin min-h($v: 0)   { @include mixins.haveUnitPx(min-height, $v); }
  @mixin max-w($v: 0)   { @include mixins.haveUnitPx(max-width, $v); }
  @mixin max-h($v: 0)   { @include mixins.haveUnitPx(max-height, $v); }
  @mixin w-full {
    width: 100%;
    height: 100%;
  }
  @mixin w-screen {
    width: 100vw;
    height: 100vh;
  }
