
.title {
  width:100%;
  padding:0 8px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-f1);
}
.team_img{
  width: 18px;
  height: 12px;
}
.left{
  display: flex;
  align-items: center;
}
.isCollected{
  background-color: var(--color-fcf0d0) !important;
}


.img_country{
  margin:0 6px 0 10px ;
  height: 12px;

}


