@use '@/assets/styles/utils' as *;
.option_item{
  width:100%;
  }
  .item{
    color: var(--color-333);
    position: relative;
    height: 40px;
    border-bottom: var(--color-border-1);
    display: flex;
    align-items: center;
    gap:11px;
    @include p(0,15);

  }


  .name{
    font-size: 12.75px;
  }


  .icon_right{
    position: absolute;
    right: 15px;
    font-size: 12px;
  }
  
