.option_item{
    width:100%;
   
  }
  .item{
    position: relative;
    height: 40px;
    border-bottom: var(--color-border);
    display: flex;
    align-items: center;
    gap:11px;
   
  }


  .name{
    font-size: 12.75px;
  }


  .icon_right{
    position: absolute;
    right: 0;
    font-size: 12px;
  }
  
