@use '@/assets/styles/utils' as *;
.Head {
  // menu 页面样式
  width:percentage(100);
  height: spacing(48);
  @include flex-between;
  border-bottom: 1px solid #{css-var-alpha(color-rgab-1,.4)};
}
.left{
  font-size: spacing(16);
  font-weight: strip-unit(700);
  @include color(css-var(color-333));
}

.icon_back,
.icon_close{
  font-size: spacing(16);
}