
@use '@/assets/styles/utils' as * ;

.OverView{
  display: flex;
  flex-direction: column;
  gap: 8px; 
  
}
.chart_group{
  padding: 8px;
  background-color: var(--color-fff);
  // margin: 8px 0;
}
.circle_group {
  @include grid-cols(3);
  @include p(0,8);
  
}
.is_notShow_download{
  display: none !important;
}
.eventsAll_wrap{
  padding: 0 14px 8px 14px;

}