.ball_list{
    width:100%;
   
  }
  .item{
    position: relative;
    height: 40px;
    border-bottom: var(--color-border);
    display: flex;
    align-items: center;
    gap:11px;
    padding: 0 15px;
   
  }
  .icon_class{

   
  }
  .active_ball{
    background-color: #f1f1f1;
  }
  .name{
    font-size: 12.75px;
  }
  .match_num{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: var( --color-f1);
    position: absolute;
    right: 12px;
    font-size: 12px;
    font-weight: 700;
  }

  .icon_right{
    position: absolute;
    right: 0;
    font-size: 12px;
  }
  
