
@use '@/assets/styles/utils' as * ;

.PlayerLogo{
  position: relative;

}

.logo{
  width: 32px;
  height: 32px;
}
.name{
  width: 75px;
  height: 15px;
  position: absolute;
  top: 33px;
  left: 50%;
  font-size: 8px;
  color: var(--color-fff);
  text-align: center;
  transform:translate(-50%)  ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.rating{
  position: absolute;
  top:-4px;
  right: -2px;
  color: var(--color-fff);
  background: #c2c90c;
  width: 17px;
  height: 11.25px;
  font-size: 10px ;
  @include flex-center;
}
.shirt_number_wrap{
 
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  background: #444644;
  color: var(--color-fff);
  font-size: 12px;
  position: absolute;
  top:9.375px;
  left: -5px;
 
}
.shirt_number{
  display: inline-block;
  transform: scale(0.75);

}
.events_card{
  position: absolute;
  top:-4px;
  right: 30px;
  color: var(--color-f1);
}
.events_ball{
  height: 12px;
  position: absolute;
  bottom:2px;
  left: 28px;
  svg{
    @include border(border-radius,50%);
    background-color: var(--color-fff);
  }
}