@use '@/assets/styles/utils' as * ;

.Title{
    height: 28px;
    font-size: 13px;
    color: var(--color-333);
    padding: 0 14px;
    @include flex-between;
 }
 .more{
  font-size: 10px;
  @include color(css-var(color-666,true))
 }
 .more_icon{
  margin-left: 5px;
  font-size: 8px;
 }