@use '@/assets/styles/utils' as *;
.match_hot{
  color: var(--color-333);
  dt{
    margin: 15px 0;
    font-size: 12.75px;
  }
  dd{
    height: 40px;
    @include flex-center;
    font-size: 12.75px;
    gap: 12px;
    border-bottom: var(--color-border);
  }
  .icon_img{
    width: 18px;
    height: 18px;

  }
}