
@use '@/assets/styles/utils' as * ;

.EventsAll{

  @include grid-cols(3);
  gap:8px ;
 }
 .events_content{
  @include flex-start-center;
  gap: 8px;
 }
 .events_name{
   font-size: 11px;
   color: var(--color-333);
 }