@use '@/assets/styles/utils' as *;
.StepComp{
    box-sizing: border-box;
    padding: 6px 12px;
    background-color: var(--color-fff);
    word-break: break-all;
      @include border(border-bottom, solid 1px var(--color-e3));
}
.name{
    font-weight: 400;
    color: var(--color-0f80da) !important;
}
.jt::after{
    transform: scale(.7);
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -o-transform: scale(.7);
    font-family: iconfont;
    display: inline-block;
    content: "\e66d";
    margin: 0 2px;
    width: 12px;
    color: var(--color-666) !important;
}