@use '@/assets/styles/utils' as *;
.teamsData {
  width:100%;
  background-color: var(--color-fff);
  padding: 0 12px;
  span{
    font-size: 13px;
  }

  
}
.teamsData_top{
  font-size: 12px;
  background-color: #fff;

.ballPossession{
  padding-top: 12px;
  .ballPossession_name{
    @include flex-center;
  }
}

.ballPossession2{
  display: flex ;
 position: relative;

 .left{
  background-color: #ebf2fb;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  .num{
    position: absolute;
    top: 10px;
    left: 16px;
    background-color: #3a7ed3;
  }
  .door{
    display: inline-block;
    width: 100%;
    height: 60px;
    border: 4px solid;
    position: absolute;
    top: 37.5px;
    border-radius: 3px;
    border-color: #3a7ed3;
    left: 58px;
  }
 }
 .right{
  background-color: #fef7ec;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  .num{
    position: absolute;
    top:10px;
    right: 16px;
    background-color: #f3b140;
  }
  .door{
    display: inline-block;
    width: 100%;
    height:60px;
    border: 4px solid;
    position: absolute;
    top: 37.5px;
    border-radius: 3px;
    border-color: #f3b140;
    right: 58px;
  }
}
.left,.right{
  flex: 1;
  height: 92px;
  position: relative;
  overflow: hidden;
}
 }

}

.ballPossession_box{
  display: block;
    margin-top: 8px;
    font-size: 0;
    span{
      display: inline-block;
      height:24px;
      line-height: 24px;
      font-weight: 700;
      color: #fff;
  
    }
    .home{

      background-color: #3a7ed3;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        text-align: left;
        padding-left: 5px;
    }
    .away{
      background-color: #f3b140;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      text-align: right;
      padding-right: 5px;
    }
}


.teamsData_stats{
  margin-top: 12px;
  li{
    height: .9rem;
    border-bottom: 1px solid var(--color-f1);
    position: relative;
    height: 34px;
    @include flex-between;
    span{
      display: inline-block;
      width: 30px;
    }
    span:nth-child(2){
     width: 60px;
     text-align: center;
    }
    span:last-child{
      text-align: right;
    }
    .num{
      font-weight: 700;
      padding: 0 5px;
      border-radius: 2px;
      color: #fff;
    }
  }
}
.ballShots{
  position: relative;
  height: 40px;
  @include flex-between;
  span{
    display: inline-block;
    width: 30px;
  }
  span:nth-child(2){
   width: 60px;
   text-align: center;
  }
  span:last-child{
    text-align: right;
  }
}
