@use '@/assets/styles/utils' as *;
.searchBox {
  height: spacing(52);
 @include p(0,12);
 @include flex-between;
 @include bg-color(css-var(color-0f80da));
}

.left{
  @include flex-center;
}
.center{
  @include flex-center;
  @include flex(1);
  @include m(0,12);
  @include border-radius(4);
  background-color: var(--color-fff);
}
.icon_ball{
  font-size:spacing(20);;
  color: var(--color-fff);
}
.icon_arrow{
  font-size: spacing(12);
  color: var(--color-fff);
}
.icon_search,
.icon_close{
  font-size: spacing(16);
}
.icon_search{
  @include m(0,10);
}
.icon_close{
  @include mr(10);
}
.icon_close2{
  color: var(--color-fff);
  font-size: spacing(17);
}
.ipt{
  width: percentage(77);
  height: 80%;
  height: 32px;
  font-size: 14px;
  caret-color: var(--color-0f80da);
}
.right{
  @include flex-center;
}
