

.OverView{
  display: flex;
  flex-direction: column;
  gap: 8px; 
  
}
.chart_group{
  padding: 8px;
  background-color: var(--color-fff);
}
.circle_group {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 0 8px ;
  
}
.is_notShow_download{
  display: none !important;
}
