
@use '@/assets/styles/utils' as * ;
.CircleW{
    @include flex-center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: var(--color-fff);
    background-color: var(--color-5db400);
   }
 