
.title {
  width:100%;
  padding:0 8px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-f1f1f1);

}



.img_country{
  margin:0 6px 0 10px ;
  height: 12px;

}


