.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  
  .header {
    display: flex;
    height: 24px;
    line-height: 24px;
    background: #f7f9fb; /* ✅ 表头背景色 */
    font-weight: bold;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
  }
  
  .bookmakerBlock {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
 
  }
  
  .bookmakerLeft {
  
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;


  }
  
  .oddsRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e3e3e3;
    .row {
        height: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e3e3e3;
      }
      .row:last-child{
        border-bottom:none !important;
      }
  }
  
  .header{
  display: flex;
    text-align: center;
    .cell1,
    .cellX,
    .cell2{
        flex:3;
    }
  }
  
  .cellFixed{
    min-width: 120px;
    height: 100%;
  }
  .cell {
    height:100%;
    border-right: 1px solid #e3e3e3;
    flex: 1;
    text-align: center;
    box-sizing: border-box;
  }
  
  .cellArrow {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  
  }
  
  .logo {
    width: 80px;
    object-fit: contain;
  }
  