
@use '@/assets/styles/utils' as * ;
.CircleL{
    @include flex-center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: var(--color-fff);
    background-color: var(--color-c74c5b);
   }
 