
@use '@/assets/styles/utils' as * ;
.CircleL{
    @include flex-center;
    width: 16px;
    height: 16px;
    @include border(border-radius,50%);
    color: var(--color-fff);
    background-color: var(--color-e74c5b);
   }
 