@use '@/assets/styles/utils' as *;

.DownLoad {
  // main 页面样式
  @include p(6,10);
  @include bg-color(css-var('color-30'));
  @include flex-between;
}

.left{
  @include flex-center;
}

.text{
  @include ml(10);
    @include font-weight(500);
    @include color(css-var('color-fff'));

    label{
      // @include font-size(12);
      font-size:font-size(12) 
    }
    p{
      @include font-size(11);
    }
}
.right{
  @include flex-center;
}
.btn{

 
  width: spacing(66);
  height:spacing(24);
  line-height:spacing(24);
   // @include w(66);
  // @include h(24);
  // @include line-height(24);
  @include text-align(center) ;
  @include bg-color(css-var('color-fff'));
  @include color(css-var('color-333'));
  font-size:to-px(12);
  @include border-radius(5);
  @include font-weight(500);
}
.icon_guanbi{
  @include ml(10);
  @include color(css-var('color-b7'));
  // @include font-size(14);
  font-size:to-px(14) // 这种也可以封装了公共函数font-size

}
