
@use '@/assets/styles/utils' as * ;

.MatchPbpScore{
  width: 100%;
  @include flex-end-center;
  gap: 26px;
}
.content{

  @include flex-start-center;
  gap: 8px;
}
.match_num{

  @include flex-start-center;
  gap:6px;

}
.score{
  padding: 1px 6px;
  background-color: var(--color-0f80da);
  color: var(--color-fff);
  font-size: 12px;
  border-radius: 4px;
}