
.MatchPbpScore{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 26px;
}
.content{
  display: flex;
  align-items: center;
  gap: 8px;
}
.match_num{
  display: flex;
  align-items: center;
  gap:6px;

}
.score{
  padding: 1px 6px;
  background-color: #0f80da;
  color: var(--color-fff);
  font-size: 12px;
  border-radius: 4px;
}