@use '@/assets/styles/utils' as *;
.Header {
  height: 44px;
  padding: 0 12px;
  @include bg-color(css-var('color-0f80da'));
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.left{
  display: flex;
  align-items: center;

}
.img{
  width: 95px;
  height: 23px;
  margin-right: 10px;
}
.img_logo{
  width: 100%;
}
.text{

    font-weight: 500;

  @include color(css-var('color-fff'));
  display: flex;
    label{
      font-size: 12px;
    }
    p{
      font-size: 11px;
    }
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
    left: 3px;
}

.icon_sousuo{
  width: 14px;
  height: 14px;
  font-size: 16px;
  @include color(css-var('color-fff'));
}
.icon_caidan{
  font-size: 16px;
  @include color(css-var('color-fff'));
  padding: 3px;
}