
@use '@/assets/styles/utils' as * ;

.MatchList{
  width: 100%;
  position: relative;
 }
 .item{
  @include flex-center;
  background-color: var(--color-fff);
  border-bottom: solid 1px var(--color-f1);
 } 

 .item_left{
  @include flex-center;
  flex: 1;
  font-size: 12px;
  @include h(60);
  .column{
    height: 100%;
    border-right: solid 1px var(--color-f1);
  }
 }
 .date{
  display: block;
  width: 70px;
  color: var(--color-999);
    @include flex-column-center;
    @include mr(10);
 }
.team_wrap{
   flex: 1;
    @include flex-between;
    
}
 .team{
  color: var(--color-333);
  @include flex-column;
  @include gap(5);


 }
.icondata{
  @include mr(10);
  @include font-size(14);
  @include color(var(--color-5db400));
}
.item:hover{
  background-color: #ecf5fc;
}
 .PlayerComp{

  .classPlayerName{
    @include font-size(14);
    @include font-weight(700);
  }
 }
 .teamHome{
  margin-left: 5px;
 }
 .score{
  width:52px ;
 color: var(--color-999);
  @include flex-column-center;
  span{
    height: 31px;
    line-height: 31px;
  }
 }

.item_right{
  @include w(52);
}
 .flag{
  @include flex-column-center;
  justify-items:center;
 }