@use '@/assets/styles/utils' as *;

.page_filter {
  width:percentage(100);
  height:  spacing(48);
  @include pl(8);
  @include flex-center;
  background-color: var(--color-fff);

}
.btn_filter{
  width: spacing(42);
  height: spacing(48);
  @include flex-center;
  box-shadow: -5px 0 6px -5px #{css-var-alpha(color-rgab-0,.2)}; 

}
.icon{
  font-size: spacing(17);
}
