@use '@/assets/styles/utils' as *;
.Match {
  // Chat 页面样式
  width:100%;

}
.selectNum_Wrap{
  padding: 12px;
  @include flex-between;
  background-color: #fff;
}

.name{
  font-size: 14px !important ;
  font-weight: 700;
}