
@use '@/assets/styles/utils' as * ;

.events_all{
  margin: 8px 14px;
  gap:8px ;
  @include grid-cols(3);
 }
 .events_content{
  @include flex-start-center;
  gap: 8px;
 }
 .events_name{
   font-size: 11px;
   color: var(--color-333);
 }