
.events_all{
  margin: 8px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:8px ;
 }
 .events_content{
  display: flex;
  align-items: center;
  gap: 8px;
 }
 .events_name{
   font-size: 11px;
   color: var(--color-333);
 }