
.main {
  // main 页面样式
  width:100%;
  position: relative;
}
.header{
  position: sticky;
  top:0;
  z-index: 10;
}
.is_notShow_download,
.is_notShow_Tabs{
  display: none !important;
}
.is_show_menu_option,
.is_show_others,
.is_show_search_result{
  display:block  !important;
}
  // others 页面样式
  .menu_option,
  .search_result,
.others {
  display: none;
  width:100%;
  position: absolute;
  z-index: 2;
  background-color: var(--bg-color-2);
}
.others{
  z-index: 3 !important;
}


.font_size{
  font-size: 20px;
}
