@use '@/assets/styles/common.scss'  ;

.Tabs_list{
  background-color:var(--color-0f80da);
  @extend .flex,.h-48 ;
}
.item4{
  @extend .w-46 ;
  color:var(--color-fff) !important;
}
.item5{
  color:var(--color-ffe000) !important;
  @extend .w-42 ;
}
.item_active{
  color: var(--color-fff) !important;
}
.item{
  color: var(--color-9fccf0);
  @extend .pos-relative , .flex-column-center , .flex-1 ;
}
.top{
  @extend .text-12 ;
}
.IComp{
  @extend .flex-col,.gap-4;
}
.matchNum{
  right: 6px;
  @extend .text-12,.pos-absolute,.top-0 ;
}
.iconSize4::before{
  @extend .text-14 ;
}
.iconSize{
  @extend .text-20 ;
}
.line{  
    background-color: var(--color-fff);
    @extend .w-full,.h-2, .pos-absolute,.bottom-left;
}