@use '@/assets/styles/utils' as *;
.Home {
  // main 页面样式
  width:100%;
  height: 100%;
  position: relative;
}
.header_wrap{
  position: sticky;
  top:0;
  z-index: 10;
  background-color: var(--color-0f80da);
}

.is_notShow_search_box,
.is_notShow_content,
.is_notShow_download,
.is_notShow_Tabs,
.is_notShow_Filters{
  display: none !important;
}
.is_show_search_box,
.is_show_menu_option,
.is_show_others,
.is_show_search_result{
  display:block  !important;
}
  // others 页面样式

  .menu_option_wrap,
  .search_result_wrap,
.others_wrap {
  display: none;
  width:100%;
  position: absolute;
  z-index: 2;
  background-color: var(--color-fff);
}

.search_result_wrap{
  height: 100%;
}

.menu_option_wrap,
.others_wrap{

  z-index: 3 !important;
  overflow-y: scroll;
}
.search_result_wrap{
  overflow-y: scroll;
}
.filter_wrap{
  width: 100%;
  background-color: var(--color-fff);
  .item{

    color:var(--color-333);
    background-color: var(--color-f1);
    @include border-radius(4);
  }
  .defaultActive{
    @include color(css-var(color-fff,true));
    @include bg-color(css-var(color-0f80da,true));
  
  }
  .isActiveRed{
    @include color(css-var(color-fff,true));
    @include bg-color(css-var(color-c72a1d,true));
  }
}

.font_size{
  font-size: 20px;
}
