// common
$color-fff:#fff;
// background
$color-30:#303030;
$color-0f8:#0f80da;
$color-c72:#c72a1d;
// color
$color-333:#333;
$color-000:#000;
$color-b7:#b7b7b7;
$color-ffe:#ffe000;
$color-9fc:#9fccf0;
$color-f1:#f1f1f1;
$color-999:#999;
$color-e3:#e3e3e3;
$color-c8cd:#c8cdcd;
$color-ffa: #ffa830 ;
$color-fcf: #fcf0d0;
$color-e2: #e2e2e2;
$color-596: #59616b;
$color-d6: #d6d6d6;
$color-666: #666;
$color-ecf: #ecf7fd;
$color-d2e: #d2e9fe;
$color-ffb: #ffba5a;
$color-219: #2196F3;
$color-fff2df: #fff2df;
$color-fffaf3: #fffaf3;
//border color
$border-color: 1px solid hsla(0, 0%, 89%, .4);