
// common
$color-fff:#fff;
$color-30:#303030;
$color-0f8:#0f80da;
$color-c72:#c72a1d;
// color
$color-eee:#eee;
$color-333:#333;
$color-000:#000;
$color-b7:#b7b7b7;
$color-ffe:#ffe000;
$color-9fc:#9fccf0;
$color-f1:#f1f1f1;
$color-999:#999;
$color-e3:#e3e3e3;
$color-c8cd:#c8cdcd;
$color-ffa: #ffa830 ;
$color-fcf: #fcf0d0;
$color-e2: #e2e2e2;
$color-596: #59616b;
$color-d6: #d6d6d6;
$color-666: #666;
$color-ecf: #ecf7fd;
$color-d2e: #d2e9fe;
$color-ffba5a: #ffba5a;
$color-2196f3: #2196F3;
$color-fff2df: #fff2df;
$color-fffaf3: #fffaf3;
$color-6d6a6d:#6d6a6d;
$color-d9:#d9d9d9;
$color-f4:#f4f4f4;
$color-c1cc01:#c1cc01;
$color-febd33:#febd33;
$color-ffae0f:#ffae0f;
$color-b6b8bf:#b6b8bf;
$color-c74c5b:#e74c5b;
$color-5db400:#5db400;

$color-f7f9fb:#f7f9fb;
//border color
$color-rgab-0:0, 0, 0;
$color-rgab-1:227, 227, 255;

$border-hsla-4:hsla(0, 0%, 89%, .4);
$border-hsla-3:hsla(0, 0%, 100%, 0.3);

$theme-colors: (

  color-fff: $color-fff,
  color-30: $color-30,
  color-0f80da: $color-0f8,
  color-c72a1d: $color-c72,
  color-eee:$color-eee,
  color-333: $color-333,
  color-000: $color-000,
  color-b7: $color-b7,
  color-ffe000: $color-ffe,
  color-9fccf0: $color-9fc,
  color-f1: $color-f1,
  color-999: $color-999,
  color-e3: $color-e3,
  color-c8cd: $color-c8cd,
  color-ffa: $color-ffa,
  color-fcf: $color-fcf,
  color-e2: $color-e2,
  color-596: $color-596,
  color-d6: $color-d6,
  color-666: $color-666,
  color-ecf: $color-ecf,
  color-d2e: $color-d2e,
  color-ffba5a: $color-ffba5a,
  color-2196f3: $color-2196f3,
  color-fff2df: $color-fff2df,
  color-fffaf3: $color-fffaf3,
  color-6d6a6d:$color-6d6a6d,
  color-d9:$color-d9,
  color-f4:$color-f4,
  color-c1cc01:$color-c1cc01,
  color-febd33:$color-febd33,
  color-ffae0f:$color-ffae0f,
  color-b6b8bf:$color-b6b8bf,
  color-c74c5b:$color-c74c5b,
  color-5db400:$color-5db400,
  color-f7f9fb:$color-f7f9fb,

  border-hsla-4:$border-hsla-4,
  border-hsla-3: $border-hsla-3,

  color-rgab-0:$color-rgab-0,
  color-rgab-1:$color-rgab-1,
);
// $dark-theme-colors: (
//   color-fff: #000,
//   color-30: #1a1a1a,
//   color-0f8: #147dd2,
//   ...
// );