

@keyframes animation_Twinkle {
    0% {
        opacity: 0
    }
    25% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    75% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
//暂定

@keyframes cycle {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes cycle {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

