

  @font-face {
    font-family: iconfont;
    src:  url('../fonts/iconfont.efefefb.woff2') format("woff2")
  }
  @font-face {
    font-family: iconfont;
    src:  url('../fonts/iconfont.ef0a764.woff2') format("woff2")
  }

  @font-face {
    font-family: Roboto-Medium;
    src:url('../fonts/Roboto-Medium.d2d7f0c.ttf') format("truetype");
    font-display: swap
  }
  @font-face {
    font-family: Roboto-Regular;
    src:url('../fonts/Roboto-Regular.5d58a0a.ttf') format("truetype");
    font-display: swap
  }

//   @font-face {
//     font-weight: 400;
//     font-family: vant-icon;
//     font-style: normal;
//     font-display: swap;
//     src: url(https://img.yzcdn.cn/vant/vant-icon-6ae417.woff2) format("woff2"),url(https://img.yzcdn.cn/vant/vant-icon-6ae417.woff) format("woff"),url(https://img.yzcdn.cn/vant/vant-icon-6ae417.ttf) format("truetype")
// }


div, span:not(.iconfont) {
    font-family: Roboto-Regular, Roboto !important;
  }

  .iconfont {
    font-family: iconfont !important; /* 确保使用你定义的字体名称 */
    font-size: 1rem; /* 使用 rem 单位更灵活，可以根据根字体大小调整 */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }




