


.icon-xuanzhong1::before {
    content: "\e950"
}

.icon-Mzhan-shezhi-shiqu::before {
    content: "\e951"
}

.icon-Aiscore::before {
    content: "\e94e"
}

.icon-Mzhan-shezhi-qiehuanyuyan::before {
    content: "\e94d"
}

.icon-Mzhan-shezhi-yejian::before {
    content: "\e948"
}

.icon-Mzhan-shezhi-liuhang::before {
    content: "\e949"
}

.icon-Mzhan-shezhi-xihuan::before {
    content: "\e94a"
}

.icon-Mzhan-shezhi-peishuaiyangshi::before {
    content: "\e94c"
}

.icon-a-shezhi-yixuanzhong1::before {
    content: "\e947"
}

.icon-shezhi-weixuanzhong::before {
    content: "\e945"
}

.icon-rili1::before {
    content: "\e946"
}

.icon-jiantou::before {
    content: "\e944"
}

.icon-pingju::before {
    content: "\e942"
}

.icon-xuanzhong::before {
    content: "\e943"
}

.icon-caidan::before {
    content: "\e941"
}

.icon-xiajiang::before {
    content: "\e93f"
}

.icon-shangsheng::before {
    content: "\e940"
}

.icon-dianji::before {
    content: "\e93e"
}

.icon-data::before {
    content: "\e93d"
}

.icon-thesports::before {
    content: "\e93c"
}

.icon-lianghuangyihong::before {
    content: "\e93b"
}

.icon-dianqiuweijin::before {
    content: "\e93a"
}

.icon-hongpai::before {
    content: "\e938"
}

.icon-dianqiujinqiu::before {
    content: "\e939"
}

.icon-jinqiu::before {
    content: "\e937"
}

.icon-wulongqiu::before {
    content: "\e936"
}

.icon-suo::before {
    content: "\e935"
}

.icon-qiuyuan1::before {
    content: "\e934"
}

.icon-lajitong::before {
    content: "\e930"
}

.icon-qiudui::before {
    content: "\e931"
}

.icon-saishi::before {
    content: "\e932"
}

.icon-qiuyuan::before {
    content: "\e933"
}

.icon-quxiaoshoucang::before {
    content: "\e924"
}

.icon-lanqiu-yixuanzhong1::before {
    content: "\e92f"
}

.icon-renshu::before {
    content: "\e92e"
}

.icon-jinhangzhong::before {
    content: "\e92d"
}

.icon-pingpangqiu::before {
    content: "\e928"
}

.icon-bangqiu-gunzi::before {
    content: "\e929"
}

.icon-banqiu-banzi::before {
    content: "\e92a"
}

.icon-wangqiu::before {
    content: "\e92b"
}

.icon-yumaoqiu::before {
    content: "\e92c"
}

.icon-paiqiu-yixuanzhong::before {
    content: "\e927"
}

.icon-shuiqiu-yixuanzhong::before {
    content: "\e925"
}

.icon-wangqiu-yixuanzhong::before {
    content: "\e926"
}

.icon-banqiu-yixuanzhong::before {
    content: "\e91a"
}

.icon-bingqiu-yixuanzhong::before {
    content: "\e91b"
}

.icon-dianjing-yixuanzhong::before {
    content: "\e91c"
}

.icon-ganlanqiu-yixuanzhong::before {
    content: "\e91d"
}

.icon-bangqiu-yixuanzhong::before {
    content: "\e91e"
}

.icon-pingpangqiu-yixuanzhong::before {
    content: "\e91f"
}

.icon-sinuoke-yixuanzhong::before {
    content: "\e920"
}

.icon-shouqiu-yixuanzhong::before {
    content: "\e921"
}

.icon-zuqiu-yixuanzhong::before {
    content: "\e922"
}

.icon-yumaoqiu-yixuanzhong::before {
    content: "\e923"
}

.icon-banqiu-weixuanzhong::before {
    content: "\e90c"
}

.icon-bingqiu-weixuanzhong::before {
    content: "\e90d"
}

.icon-pingpangqiu-weixuanzhong::before {
    content: "\e90e"
}

.icon-ganlanqiu-weixuanzhong::before {
    content: "\e90f"
}

.icon-dianjing-weixuanzhong::before {
    content: "\e910"
}

.icon-bangqiu-weixuanzhong::before {
    content: "\e911"
}

.icon-lanqiu-weixuanzhong::before {
    content: "\e912"
}

.icon-sinuoke-weixuanzhong::before {
    content: "\e913"
}

.icon-shouqiu-weixuanzhong::before {
    content: "\e914"
}

.icon-paiqiu-weixuanzhong::before {
    content: "\e915"
}

.icon-wangqiu-weixuanzhong::before {
    content: "\e916"
}

.icon-shuiqiu-weixuanzhong::before {
    content: "\e917"
}

.icon-yumaoqiu-weixuanzhong::before {
    content: "\e918"
}

.icon-zuqiu-weixuanzhong::before {
    content: "\e919"
}

.icon-rili::before {
    content: "\e90b"
}

.icon-guanbi::before {
    content: "\e900"
}

.icon-shaozi::before {
    content: "\e901"
}

.icon-shangla::before {
    content: "\e902"
}

.icon-sousuo::before {
    content: "\e903"
}

.icon-xiala::before {
    content: "\e904"
}

.icon-xingzhuang::before {
    content: "\e905"
}

.icon-yejian::before {
    content: "\e906"
}

.icon-shezhi::before {
    content: "\e907"
}

.icon-youjiantou::before {
    content: "\e908"
}

.icon-zuojiantou::before {
    content: "\e909"
}

.icon-zhenrong::before {
    content: "\e90a"
}

.icon-shipinzhibo::before {
    content: "\e8fa"
}

.icon-weishoucang::before {
    content: "\e8fb"
}

.icon-donghuazhibo::before {
    content: "\e8fc"
}

.icon-yishoucang::before {
    content: "\e8fd"
}

.icon-remen::before {
    content: "\e8fe"
}


//match详情
.icondianjing_5qiang::before {
    content: "\e89a"
}

.icondianjing_5sha::before {
    content: "\e89b"
}

.icondianjing_10sha::before {
    content: "\e89c"
}

.icondianjing_16qiang::before {
    content: "\e89d"
}

.icondianjing_baozha::before {
    content: "\e89e"
}

.icondianjing_10qiang::before {
    content: "\e89f"
}

.icondianjing_duyao::before {
    content: "\e8a0"
}

.icondianjing_jishi::before {
    content: "\e8a1"
}

.icondianjing_chaidan::before {
    content: "\e8a2"
}

.icondianjing_fangyuta::before {
    content: "\e8a3"
}

.icondianjing_yixie::before {
    content: "\e8a4"
}

.icondianjing_jinbi::before {
    content: "\e8a7"
}

.iconsport_esports::before {
    content: "\e8a5"
}

.iconjiangbeibeifen::before {
    content: "\e610"
}

.icondianjing_1qiang::before {
    content: "\e899"
}

.iconthesports::before {
    content: "\e60f"
}

.iconhandball_ball::before {
    content: "\e825"
}

.iconbadminton_ball::before {
    content: "\e824"
}

.iconsport_waterpolo::before {
    content: "\e823"
}

.iconsport_snooker::before {
    content: "\e822"
}

.iconsport_amfootball::before {
    content: "\e818"
}

.iconsport_badminton::before {
    content: "\e819"
}

.iconsport_baseball::before {
    content: "\e81a"
}

.iconsport_cricket::before {
    content: "\e81b"
}

.iconsport_basketball::before {
    content: "\e81c"
}

.iconsport_handball::before {
    content: "\e81d"
}

.iconsport_tabletennis::before {
    content: "\e81e"
}

.iconsport_icehockey::before {
    content: "\e81f"
}

.iconsport_football::before {
    content: "\e820"
}

.iconsport_tennis::before {
    content: "\e821"
}

.iconsport_volleyball::before {
    content: "\e814"
}

.icontabletennis_ball::before {
    content: "\e812"
}

.iconbaseball_ball_2::before {
    content: "\e811"
}

.iconbaseball_ball_2_white::before {
    content: "\e815"
}

.iconbaseball_ball_1::before {
    content: "\e810"
}

.iconbaseball_ball_1_white::before {
    content: "\e816"
}

.iconCricket_ball_4::before {
    content: "\e80f"
}

.iconcricket_ball_3::before {
    content: "\e80e"
}

.iconcricket_ball_2::before {
    content: "\e80d"
}

.iconHockey_Miss::before {
    content: "\e80b"
}

.iconHockey_goal::before {
    content: "\e80a"
}

.iconjiaolian::before {
    content: "\e60e"
}

.iconchangguan1::before {
    content: "\e60d"
}

.icongamestart::before {
    content: "\e809"
}

.iconAMfootball_Safaty::before {
    content: "\e808"
}

.iconAMfootball_PAT::before {
    content: "\e807"
}

.iconAMfootball_FG::before {
    content: "\e806"
}

.iconAMfootball_2-PTCONV::before {
    content: "\e805"
}

.iconAMfootball_TD::before {
    content: "\e804"
}

.iconkaishi::before {
    content: "\e60c"
}

.iconAMfootball::before {
    content: "\e803"
}

.iconminus1::before {
    content: "\e60b"
}

.iconrili2::before {
    content: "\e802"
}

.iconlogo1::before {
    content: "\e801"
}

.iconback1::before {
    content: "\e800"
}

.iconrili1::before {
    content: "\e7f8"
}

.iconlanguage::before {
    content: "\e7f9"
}

.iconallgameslan::before {
    content: "\e7fa"
}

.iconlive::before {
    content: "\e7fb"
}

.iconallgames::before {
    content: "\e7fc"
}

.iconleagus::before {
    content: "\e7fd"
}

.iconleagueslan::before {
    content: "\e7fe"
}

.iconlivelan::before {
    content: "\e7ff"
}

.iconshuangshouwopai::before {
    content: "\e60a"
}

.icondanshouwopai::before {
    content: "\e609"
}

.iconzuoshou::before {
    content: "\e608"
}

.iconyoushou::before {
    content: "\e607"
}

.iconzuoyoushou::before {
    content: "\e606"
}

.iconsearch1::before {
    content: "\e605"
}

.iconlock::before {
    content: "\e782"
}

.iconup::before {
    content: "\e786"
}

.icondown::before {
    content: "\e787"
}

.iconsearch::before {
    content: "\e604"
}

.iconplus::before {
    content: "\e603"
}

.iconmyminuss::before {
    content: "\e602"
}

.iconiconwangqiu::before {
    content: "\e601"
}

.iconassists::before {
    content: "\e600"
}

.icongoals2::before {
    content: "\e74c"
}

.icongoals3::before {
    content: "\e74d"
}

.icongoals1::before {
    content: "\e74e"
}

.iconjiantou2::before {
    content: "\e73b"
}

.iconAiScorelogo::before {
    content: "\e70a"
}

.iconlujing::before {
    content: "\e70b"
}

.iconlogo::before {
    content: "\e70c"
}

.iconxialajiantou::before {
    content: "\e702"
}

.iconyuyan1::before {
    content: "\e6ae"
}

.iconkoushao1::before {
    content: "\e6ad"
}

.iconInjured::before {
    content: "\e6aa"
}

.iconjiantou1::before {
    content: "\e6ab"
}

.iconstar::before {
    content: "\e6ac"
}

.iconcaipan::before {
    content: "\e6a9"
}

.iconicon-test::before {
    content: "\e691"
}

.iconCorner::before {
    content: "\e693"
}

.icontwoyellow-red::before {
    content: "\e695"
}

.iconredandyellow1::before {
    content: "\e696"
}

.iconyellowcard::before {
    content: "\e697"
}

.iconredcard::before {
    content: "\e698"
}

.iconredcard1::before {
    content: "\e699"
}

.iconyellowcard1::before {
    content: "\e69a"
}

.iconin::before {
    content: "\e69b"
}

.iconout::before {
    content: "\e69c"
}

.iconsubstitution::before {
    content: "\e69d"
}

.iconInjuryreplace::before {
    content: "\e69e"
}

.iconVenue::before {
    content: "\e69f"
}

.icondianji::before {
    content: "\e6a0"
}

.iconduizhang::before {
    content: "\e6a1"
}

.iconassist::before {
    content: "\e6a2"
}

.iconown-goal::before {
    content: "\e6a3"
}

.icongoal::before {
    content: "\e6a4"
}

.iconPenalty::before {
    content: "\e6a5"
}

.iconPenaltySaved::before {
    content: "\e6a6"
}

.iconout1::before {
    content: "\e6a7"
}

.iconin1::before {
    content: "\e6a8"
}

.iconarrow-tow-left::before {
    content: "\e627"
}

.icondelete::before {
    content: "\e685"
}

.iconjinzhi::before {
    content: "\e686"
}

.icontranslate::before {
    content: "\e687"
}

.iconxiala::before {
    content: "\e688"
}

.iconkuohao::before {
    content: "\e689"
}

.iconwenhao1::before {
    content: "\e684"
}

.iconsend::before {
    content: "\e683"
}

.iconchangguan::before {
    content: "\e680"
}

.iconDNP::before {
    content: "\e67d"
}

.icontingsai::before {
    content: "\e681"
}

.icontingsaibeifen2::before {
    content: "\e682"
}

.iconwenhao::before {
    content: "\e67f"
}

.iconiconlanqiu::before {
    content: "\e67e"
}

.iconshipingzhibo::before {
    content: "\e67b"
}

.icondonghuazhibo::before {
    content: "\e67c"
}

.icontransfer-to::before {
    content: "\e7e3"
}

.iconsound-0::before {
    content: "\e655"
}

.iconjiantou::before {
    content: "\e66d"
}

.iconSign_Sele::before {
    content: "\e66e"
}

.iconduigou::before {
    content: "\e66f"
}

.iconguanzhong::before {
    content: "\e670"
}

.iconback::before {
    content: "\e671"
}

.iconshalou::before {
    content: "\e673"
}

.iconSign_Def::before {
    content: "\e674"
}

.icondata::before {
    content: "\e675"
}

.iconshaixuan::before {
    content: "\e676"
}

.iconrili::before {
    content: "\e677"
}

.iconhuaban::before {
    content: "\e679"
}

.iconhuaban1::before {
    content: "\e67a"
}