
html {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  max-width:var(--safe-html-max-width);
  min-width: var(--safe-html-min-width);
  margin:0 auto;
  outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #f1f1f1 !important;
  }
body {
  box-sizing: border-box;  
}


ul,li,p{
  margin: 0;
}



*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.Loading{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  
}
.home_StepComp{
  font-size: 10px;
  color: var(--color-0f80da);
}