// common
$color-fff:#fff;
// background
$color-30:#303030;
$color-0f8:#0f80da;
$color-c72:#c72a1d;
// color
$color-333:#333;
$color-000:#000;
$color-b7:#b7b7b7;
$color-ffe:#ffe000;
$color-9fc:#9fccf0;
$color-f1:#f1f1f1;
$color-999:#999;
$color-e3:#e3e3e3;
$color-c8cd:#c8cdcd;
$color-ffa: #ffa830 ;
//border color
$border-color: 1px solid hsla(0, 0%, 89%, .4);
:root {
    //background
    --color-fff: #{$color-fff};
    --color-303030: #{$color-30};
    --color-0f80da: #{$color-0f8};
    --color-c72a1d: #{$color-c72};
    //color
    --color-333: #{$color-333};
    --color-000: #{$color-000};
    --color-b7b7b7: #{$color-b7};
    --color-ffe000: #{$color-ffe};
    --color-9fccf0: #{$color-9fc};
    --color-f1f1f1: #{$color-f1};
    --color-999: #{$color-999};
    --color-e3: #{$color-e3};
    --color-c8cdcd:#{$color-c8cd};
    --color-ffa830:#{$color-ffa};
    // ... 其他颜色变量
    --color-border: #{$border-color};
  }