@use "@/assets/styles/utils" as *;

.teamDetails {
  width: 100%;
 .football {
  background-color: #285898;
  }
  .basketball {
    background-color: #F26729;
  }
}

.details_StepComp {
  @include bg(var(--color-f1));
 
}