@use '@/assets/styles/utils' as * ;

.LineProcessComp {
  position: relative;
  width: 200px;
  text-align: center;
  font-size: 12px;
  margin: 8px 0;
  
}

.title {
  margin-bottom: 4px;
  color: var(--color-333);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:-16px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftValue,
.rightValue {
  width: 20px;
  text-align: center;
}

.LineProcess_wrap{
  flex: 1;
}