
.matchDetails {
  // matchDetails 页面样式
  width:100%;

}

.tabs{
  position: sticky;
  top:0;
  z-index: 10;
  height: 36px;
  box-shadow: 0 5px 10px -5px #d6d6d6;
  background-color: var(--color-fff);
  .item_active {
    color: var(--color-0f80da) !important;
  }
  .item_activeLine{
   background-color: var(--color-0f80da);
  }

}
.svg{
  width: 14px;
  height: 14px;
  font-size: 14px;
}


.details_StepComp{
  font-size: 12px;
  color: var(--color-666);
 
}